<h2>Log in page</h2>
<p><%=flash[:notice]%></p>
<form action="/users/login_session">
  Email : <input type="email" name = "email"><br>
  Password : <input type="password" name = "password"><br>
  <input type="submit" value = "Log-in">
</form>
