<h2>Upload photos</h2>
<form action="/posts/create/" method = "post" enctype="multipart/form-data" >
  Title: <input type="text" name="title"><br>
  Content: <input type="text" name="content"><br>
  Upload: <input type="file" name="avatar" value="Select" >
  <input type="submit" value="Submit">
</form>
